h3{
    margin-top:50px!important;
    margin-right: 250px!important;
    text-align: center!important;
    color: white;
  }

  html {
    background: white;
    margin: 0;
    padding: 0;
  }

  body {
    color: #272727;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0;
    margin: 0;
    padding: 0;
  }

  .main {
    position: relative;
    margin: 0 auto;
  }
  .navLinks{
    position: absolute;
  }

  .container
  {
    margin:10px;
    max-width:100%!important;
    border-radius: 5px;
    background-color: black;
    margin-top:5px!important;
    z-index: 10;
    height: auto;
    width: auto;
    overflow: hidden;
    position: sticky;
    box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.45);
    top: 0px;
    text-align: center;
    border-radius: 5px;
  }

  .header {
    width: fit-content;
    background: black;
    position: sticky;
    box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.45);
    top: 0px;
    z-index: 10;
    text-align: center;
    overflow: hidden;
    font-family: Open Sans, Roboto, Arial, Helvetica, sans-serif, SimSun;
    float: left;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5.4px);
    -webkit-backdrop-filter: blur(5.4px);
    border: 1px solid rgba(80, 82, 81, 0.24);
  }

  .nav>.nav-links {
    font-size: 18px;
    display: inline;
    /*float: right;
    position: fixed;*/
    overflow: hidden;
    bottom: 0;
  }

  .nav-link, .nav>.nav-links>ul li a {
    color: white;
    line-height: 40px;
    font-size: 18px;
    font-weight: 500;
    padding: 0 8px;
    text-decoration: none;
  }

  .nav>.nav-links>ul li {
    display: inline-block;
    margin: 10px;
  }

  .nav>.nav-links>ul {
    list-style: none;
    position: relative;
  }

  .nav>.nav-links {
    font-size: 18px;
    display: inline;
    overflow: hidden;
    bottom: 0;
  }

  #productsearch{
    width:35%;
  }

  #productcatalog {
    margin-left: 55px;
  }

  .cards_item{
    border-radius:5px;    
    display: flex;
    padding: 1rem;
  }

  .card {
    border-radius: 0.28rem;
    box-shadow: 0 1px 50px -4px rgb(0 0 0 / 23%);
    display: flex;
    overflow: hidden;
  }

  .cards {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
  border-radius: 8px;
  float: left;
  margin-left:75px;
  }

img{
  height: 350px;
  width: 300px;
}

h1{
font-size: 1.5rem!important;
}

.card_content{
  margin-left: 35%;
}